*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('./../img/jumbo.png');
    height: 100%;
    background-size:cover;
    color: white;
}

.flex{
    display: flex;
   
}

.high{
    justify-content: space-between;
    width: 70%;
    height: 100px;
    margin: auto;
    align-items: center;
}

.logo{
    flex-basis: 15%;
}

.login-button{
    flex-basis: 15%;
    color: #23272A;
}

#macdownloadheader{
    color: #23272A;
}

#macdownloadheader>i{
    color: #23272A;
    margin-right: 5px;
}

button{
    padding: 7px 16px;
    border-radius: 40px;
    border: none;
    margin: 15px;
}

#browser{
    background-color: #23272A;
    color: white;
}

.navbar{
    justify-content: space-between;
    /* width: 500px; */
    flex-basis: 50%;
}

ul{
    list-style-type: none;
}

li>a{
    color: white;
    text-decoration: none;
}

.hsection{
    width: 50%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.title{
    margin: 10px;
}

.presentation{
    margin-top: 25px;
    margin-bottom: 10px;
}

main .container{
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
}

.wave{
    background-image: url('../img/wave.svg');
    width: auto;
    opacity: 4%;
}

.down{
    transform: rotate(180deg);
}

.image1,
.image2,
.image3{
    flex-basis: 60%;
    height: 100%;
    background-size:cover;
}

.description{
    flex-basis: 30%;
}

#white{
    background-color: white;
}

#grey{
    background-color: #F5F5F5;
}

.first,
.second,
.third{
    display: flex;
    justify-content: space-between;
}

.container{
    padding: 60px 0;
}

.second>.image2{
    order: 2;
}

.fourth{
    flex-direction: column-reverse;
}

.fourth .description{
    text-align: center;
}

.image4{
    background-size: cover;
    height: 100%;
    width: 100%;
}

.promt{
    text-align: center;
}

.promt h2{
    color: #23272A;
}

.promt button,
#registration{
    background-color: #8EA1E1;
    color: white;
}

#macdownload> i{
    color white
    margin-right: 15px;
}

#macdownload{
    background-color: #8EA1E1;
    color: white;
}
    

.promt>h2,
.promt>span{
    margin: 20px;
}

footer{
    background-color: #23272A;
    color: white;
}

footer>.container{
    width: 80%;
    margin: auto;
    border-bottom: 3px solid #7289DA;
}

li h2{
    color: #7289DA;
}

li h4{
    color: #7289DA;
}

select{
    border: none;
    background-color: #23272A;
    color: white
}

#flag{
    height: 17px;
}

.social-box{
    width: 180px;
    height: 45px;
}

.ul-footer{
    display: flex;
    justify-content: space-between;
}

.social{
    margin: 10px;
}

#language{
    padding: 10px 0;
}

.closing{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 80%;
    margin: auto;
}

#registration,
.closing img{
    margin-top: 15px;
    margin-right: 0;
}

#select{
    padding: 10px 0;
}

.button-box{
    padding-right: 0;
    position: relative;
}

#registration{
    position: absolute;
    right: 0;
}